body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

/* Box sizing rules, remove default margin and padding */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(192deg, 100%, 9%);
  text-align: center;
}

.heading {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.heading--hero {
  font-size: clamp(2rem, 1.5023474178vw + 1.6478873239rem, 3rem);
  line-height: clamp(2.25rem, 3.3802816901vw + 1.4577464789rem, 4.5rem);
}
.heading--stats {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 1.5023474178vw + 0.6478873239rem, 2rem);
  font-weight: 400;
  line-height: clamp(1.5rem, 2.2535211268vw + 0.9718309859rem, 3rem);
  color: hsl(208deg, 12%, 55%);
}
.heading--stories {
  font-size: clamp(1.25rem, 1.8779342723vw + 0.8098591549rem, 2.5rem);
  line-height: clamp(1.875rem, 2.8169014085vw + 1.2147887324rem, 3.75rem);
}
.heading--cta {
  font-size: clamp(1.5rem, 1.5023474178vw + 1.1478873239rem, 2.5rem);
  line-height: clamp(2.25rem, 2.2535211268vw + 1.7218309859rem, 3.75rem);
}
.heading--form {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1.25rem, 0.3755868545vw + 1.161971831rem, 1.5rem);
  line-height: clamp(1.875rem, 0.5633802817vw + 1.7429577465rem, 2.25rem);
  color: #fff;
}

.paragraph--hero {
  font-size: clamp(0.875rem, 0.5633802817vw + 0.7429577465rem, 1.25rem);
  line-height: clamp(1.3125rem, 0.8450704225vw + 1.1144366197rem, 1.875rem);
}
.paragraph--stats {
  font-weight: 700;
  font-size: clamp(3.75rem, 3.3802816901vw + 2.9577464789rem, 6rem);
  line-height: clamp(5.75rem, 4.882629108vw + 4.6056338028rem, 9rem);
  color: hsl(192deg, 100%, 9%);
  text-align: left;
}
.paragraph--stories {
  font-size: clamp(0.875rem, 0.1877934272vw + 0.8309859155rem, 1rem);
  line-height: clamp(1.3125rem, 0.2816901408vw + 1.2464788732rem, 1.5rem);
}
.paragraph--footer {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.paragraph--error {
  color: hsl(0deg, 100%, 63%);
  font-size: 12px;
  line-height: 24px;
  text-align: left;
}

/* utility class aiming at visually hiding the element while keeping it accessible to assistive technologies such as screen-readers */
.u-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-vertical-spacing--1x {
  margin-bottom: 24px;
}
.u-vertical-spacing--2x {
  margin-bottom: 48px;
}
.u-vertical-spacing--1x {
  margin-bottom: 24px;
}

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  text-align: left;
  max-width: 344px;
}
@media (min-width: 48rem) {
  .attribution {
    flex: 1;
  }
}
.attribution__paragraph {
  margin-top: 16px;
}
.attribution__contact-details {
  margin-top: clamp(1.5rem, -1.5023474178vw + 2.8521126761rem, 2.5rem);
}
.attribution__contact-detail {
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
}
.attribution__contact-detail img {
  margin: auto 19px auto 0;
  width: 18px;
  height: 18px;
}
.attribution__contact-detail--email {
  margin-top: 16px;
}
.attribution__contact-detail--email img {
  width: 20px;
  height: 16px;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}
.btn:active {
  transform: scale(1.02);
}
.btn:focus, .btn :focus-visible {
  outline-width: 3px;
  outline-style: dashed;
  outline-offset: 5px;
}
.btn:focus:not(:focus-visible) {
  outline: none;
}
.btn--primary {
  background-color: hsl(322deg, 100%, 66%);
  font-size: clamp(0.75rem, 0.7511737089vw + 0.573943662rem, 1.25rem);
  line-height: clamp(1.125rem, 1.1267605634vw + 0.860915493rem, 1.875rem);
  color: #fff;
  padding: clamp(0.6875rem, 1.3145539906vw + 0.3794014085rem, 1.5625rem) clamp(2.5rem, 5.6338028169vw + 1.1795774648rem, 6.25rem);
  border: none;
  border-radius: clamp(1.25rem, 1.8779342723vw + 0.8098591549rem, 2.5rem);
}
.btn--primary:hover {
  background: hsl(321deg, 100%, 78%);
}
.btn--primary:focus, .btn--primary :focus-visible {
  outline-color: hsl(322deg, 100%, 66%);
}
.btn--secondary {
  background: transparent;
  color: hsl(322deg, 100%, 66%);
  font-weight: 400;
  font-size: clamp(0.625rem, 0.2816901408vw + 0.5589788732rem, 0.8125rem);
  line-height: clamp(0.9375rem, 0.6572769953vw + 0.7834507042rem, 1.375rem);
  padding: clamp(0.3125rem, 0.3755868545vw + 0.224471831rem, 0.5625rem) clamp(1.125rem, 1.1267605634vw + 0.860915493rem, 1.875rem);
  border: 1px solid hsl(322deg, 100%, 66%);
  border-radius: clamp(0.75rem, 0.7511737089vw + 0.573943662rem, 1.25rem);
}
.btn--secondary:hover {
  border-color: hsl(321deg, 100%, 78%);
  color: hsl(321deg, 100%, 78%);
}
.btn--secondary:focus, .btn--secondary :focus-visible {
  outline-color: hsl(321deg, 100%, 78%);
}
.btn--submit {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 41px;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
@media (min-width: 48rem) {
  .form {
    width: clamp(20rem, 3.5714285714vw + 18.2857142857rem, 21.5rem);
  }
}
@media (min-width: 90rem) {
  .form {
    width: 520px;
  }
}
.form__form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(2rem, 0.7511737089vw + 1.823943662rem, 2.5rem);
  position: relative;
}
@media (min-width: 48rem) {
  .form__form-control {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media (min-width: 48rem) {
  .form__input {
    margin-right: 40px;
    margin-bottom: 16px;
  }
}
.form__button {
  margin-top: 16px;
  align-self: flex-end;
}
@media (min-width: 48rem) {
  .form__button {
    margin-top: 0px;
  }
}
@media (min-width: 90rem) {
  .form__button {
    align-self: flex-start;
  }
}

.image--hero {
  width: min(100%, 1016px);
}
.image--story-1 {
  width: min(510px, 100%);
}
@media (min-width: 48rem) {
  .image--story-1 {
    width: clamp(15.625rem, 24.4131455399vw + 9.9031690141rem, 31.875rem);
    order: 2;
  }
}
.image--story-2 {
  width: min(530px, 100%);
}
@media (min-width: 48rem) {
  .image--story-2 {
    width: clamp(16.5625rem, 24.882629108vw + 10.7306338028rem, 33.125rem);
  }
}
.image--story-3 {
  width: min(530px, 100%);
}
@media (min-width: 48rem) {
  .image--story-3 {
    width: clamp(16.6875rem, 24.6948356808vw + 10.8996478873rem, 33.125rem);
    order: 2;
  }
}

.input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
}
@media (min-width: 48rem) {
  .input {
    width: min(100%, 344px);
  }
}
@media (min-width: 90rem) {
  .input {
    width: 320px;
  }
}
.input:focus, .input :focus-visible {
  outline-width: 3px;
  outline-style: dashed;
  outline-offset: 5px;
  outline-color: #fff;
}
.input:focus:not(:focus-visible) {
  outline: none;
}
.input.error {
  border: 1px solid hsl(0deg, 100%, 63%);
}
.input__error-message {
  opacity: 0;
  position: absolute;
  top: 55px;
  left: 0;
  transition: opacity ease-in-out 0.3s;
}
.input__error-message.visible {
  opacity: 1;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-align: left;
  transition: transform 0.2s;
  font-style: normal;
  cursor: pointer;
}
.link:hover {
  filter: brightness(0) saturate(100%) invert(90%) sepia(16%) saturate(6311%) hue-rotate(282deg) brightness(102%) contrast(101%);
}
.link:focus, .link :focus-visible {
  outline-width: 3px;
  outline-style: dashed;
  outline-offset: 5px;
  outline-color: currentColor;
}
.link--icon:focus img, .link :focus-visible img {
  outline-width: 3px;
  outline-style: dashed;
  outline-offset: 5px;
  outline-color: hsl(321deg, 100%, 78%);
}
.link:focus:not(:focus-visible) {
  outline: none;
}
.link:focus:not(:focus-visible) img {
  outline: none;
}
.link--icon img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7423%) hue-rotate(135deg) brightness(112%) contrast(100%);
}

.logo {
  width: clamp(6rem, 36.641221374vw + -2.5877862595rem, 15rem);
}
.logo--footer {
  width: auto;
  height: 100%;
  margin-right: auto;
  margin-left: -10px;
}

@media (min-width: 48rem) {
  .nav__list {
    display: grid;
    row-gap: 0.75rem;
    column-gap: clamp(0.0625rem, 4.32vw - 2.01rem, 1.875rem);
    grid-template-columns: repeat(3, 10.3125rem);
    grid-template-areas: "faq privacy install" "contact press .";
    max-width: 39.6875rem;
  }
}
@media (min-width: 48rem) {
  .nav__item {
    justify-self: start;
  }
  .nav__item--faq {
    grid-area: faq;
  }
  .nav__item--contact {
    grid-area: contact;
  }
  .nav__item--privacy {
    grid-area: privacy;
  }
  .nav__item--press {
    grid-area: press;
  }
  .nav__item--install {
    grid-area: install;
  }
}

.social-media-panel {
  list-style-type: none;
  width: clamp(6.5rem, 3.7558685446vw + 5.6197183099rem, 9rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 48rem) {
  .social-media-panel {
    margin-right: 0;
  }
}
.social-media-panel__link {
  display: block;
}
.social-media-panel__link img {
  width: clamp(1.4375rem, 0.8450704225vw + 1.2394366197rem, 2rem);
}
.social-media-panel__container {
  width: 100%;
}

.stats {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5.5rem;
  width: 100%;
  max-width: 55rem;
}
@media (min-width: 48rem) {
  .stats {
    flex-direction: row;
    justify-content: center;
    column-gap: clamp(5.5rem, 37.5vw + -12.5rem, 21.25rem);
  }
}
.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats__icon {
  align-self: flex-start;
  width: clamp(2.25rem, 5.0890585242vw + 1.0572519084rem, 3.5rem);
  margin-bottom: -10px;
}
@media (min-width: 48rem) {
  .stats__icon {
    margin-bottom: -16px;
  }
}

.story {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: clamp(2.25rem, 9.1603053435vw + 0.1030534351rem, 4.5rem);
  padding-right: clamp(2.25rem, 9.1603053435vw + 0.1030534351rem, 4.5rem);
}
@media (min-width: 48rem) {
  .story {
    flex-direction: row;
    justify-content: space-between;
    padding-left: clamp(2.25rem, 12.5vw + -3.75rem, 7.5rem);
    padding-right: clamp(2.25rem, 12.5vw + -3.75rem, 7.5rem);
  }
}
.story--white {
  margin-top: min(51vw, 339px);
}
.story--blue-1 {
  background-color: hsl(207deg, 100%, 98%);
  padding-top: 84px;
  padding-bottom: 53px;
}
@media (min-width: 48rem) {
  .story--blue-1 {
    padding-top: 61px;
    padding-bottom: 40px;
  }
}
.story--blue-1:before {
  content: "";
  position: absolute;
  background-image: url("/images/bg-section-top-mobile-1.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
  left: 0;
  height: 30vw;
  width: 100%;
  top: -29vw;
}
@media (min-width: 48rem) {
  .story--blue-1:before {
    background-image: url("/images/bg-section-top-desktop-1.svg");
    height: 12vw;
    top: -11vw;
  }
}
.story--blue-1::after {
  content: "";
  position: absolute;
  background-image: url("/images/bg-section-bottom-mobile-1.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  left: 0;
  height: 14vw;
  width: 100%;
  bottom: -13vw;
}
@media (min-width: 48rem) {
  .story--blue-1::after {
    background-image: url("/images/bg-section-bottom-desktop-1.svg");
    height: 10vw;
    bottom: -9vw;
  }
}
.story--blue-2 {
  margin-top: min(59vw, 276px);
  background-color: hsl(207deg, 100%, 98%);
  padding-top: 16px;
  padding-bottom: 113px;
}
@media (min-width: 48rem) {
  .story--blue-2 {
    padding-top: 34px;
    padding-bottom: 33px;
  }
}
.story--blue-2:before {
  content: "";
  position: absolute;
  background-image: url("/images/bg-section-top-mobile-2.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
  left: 0;
  height: 28vw;
  width: 100%;
  top: -27vw;
}
@media (min-width: 48rem) {
  .story--blue-2:before {
    background-image: url("/images/bg-section-top-desktop-2.svg");
    height: 11vw;
    top: -10vw;
  }
}
.story--blue-2::after {
  content: "";
  position: absolute;
  background-image: url("/images/bg-section-bottom-mobile-2.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  left: 0;
  height: 27vw;
  width: 100%;
  bottom: -26vw;
}
@media (min-width: 48rem) {
  .story--blue-2::after {
    background-image: url("/images/bg-section-bottom-desktop-2.svg");
    height: 10vw;
    width: 100%;
    bottom: -9vw;
  }
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textbox--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textbox--hero .paragraph {
  margin-top: clamp(1.5rem, 0.1877934272vw + 1.4559859155rem, 1.625rem);
  max-width: 37.5rem;
}
.textbox--stats {
  align-items: flex-start;
}
.textbox--stats .heading {
  order: 2;
  align-self: center;
}
.textbox--stories {
  margin-top: 40px;
}
@media (min-width: 48rem) {
  .textbox--stories {
    margin-top: 0px;
    align-items: flex-start;
    text-align: left;
  }
}
.textbox--stories .paragraph {
  margin-top: clamp(1rem, 2.5445292621vw + 0.4036259542rem, 1.625rem);
  max-width: 520px;
}
@media (min-width: 48rem) {
  .textbox--stories .paragraph {
    margin-top: clamp(1rem, 1.4880952381vw + 0.2857142857rem, 1.625rem);
    width: clamp(20rem, 29.7619047619vw + 5.7142857143rem, 32.5rem);
  }
}
.textbox--form {
  align-items: flex-start;
  text-align: left;
  max-width: 344px;
}
.textbox--form .paragraph {
  margin-top: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem 1rem;
  width: 100%;
  max-width: 29.375rem;
}
@media (min-width: 48rem) {
  .buttons-container {
    flex-direction: row;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(192deg, 100%, 9%);
  margin-top: min(343px, 82.13vw); /* 308px/82.13vw , 343*/
  width: min(100%, 1440px);
  position: relative;
  padding: clamp(3.25rem, 5.9154929577vw + 1.863556338rem, 7.1875rem) clamp(1.5rem, 6.106870229vw + 0.0687022901rem, 3rem) clamp(2.875rem, 5.3521126761vw + 1.6205985915rem, 6.4375rem) clamp(1.5rem, 6.106870229vw + 0.0687022901rem, 3rem);
}
.footer:before {
  content: "";
  position: absolute;
  background-image: url("/images/bg-footer-top-mobile.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom left;
  left: 0;
  height: 15vw;
  width: 100%;
  top: -14vw;
}
@media (min-width: 48rem) {
  .footer:before {
    background-image: url("/images/bg-footer-top-desktop.svg");
    height: 11vw;
    top: -10.5vw;
  }
}
.footer__inner {
  width: min(100%, 344px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
@media (min-width: 48rem) {
  .footer__inner {
    width: min(100%, 1200px);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.footer__attribution {
  order: 2;
  margin-top: 104px;
}
@media (min-width: 48rem) {
  .footer__attribution {
    margin-top: 0px;
    order: 1;
  }
}
.footer__form {
  order: 1;
}
@media (min-width: 48rem) {
  .footer__form {
    order: 2;
  }
}
.footer__social-media-panel {
  margin-top: clamp(3rem, 3.0046948357vw + 2.2957746479rem, 5rem);
  order: 3;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 clamp(1.5rem, 4.5070422535vw + 0.4436619718rem, 4.5rem);
  text-align: center;
}
.header__inner {
  width: 100%;
  max-width: 81rem;
  margin-top: clamp(1.5rem, 4.5070422535vw + 0.4436619718rem, 4.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  z-index: 1;
}
.main > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  padding: 0 clamp(2.25rem, 9.1603053435vw + 0.1030534351rem, 4.5rem);
}
.hero__textbox {
  margin-top: clamp(7rem, 10.6103286385vw + 4.5132042254rem, 14.0625rem);
}
.hero__btn {
  margin-top: 3rem;
}
.hero__image {
  margin-top: clamp(6.5rem, 1.5023474178vw + 6.1478873239rem, 7.5rem);
}
.hero__stats {
  margin-top: 120px;
}

.stories {
  margin-top: min(35vw, 305px);
}
.stories__list {
  width: 100%;
  max-width: 1440px;
}

.cta {
  margin-top: min(45vw, 308px);
  padding: 0 clamp(2.25rem, 9.1603053435vw + 0.1030534351rem, 4.5rem);
}
.cta__btn {
  margin-top: clamp(2.5rem, 0.1877934272vw + 2.4559859155rem, 2.625rem);
}

/*# sourceMappingURL=style.css.map */
