// COLORS
// PRIMARY
$color-pink: hsl(322, 100%, 66%);
$color-light-pink: hsl(321, 100%, 78%);
$color-light-red: hsl(0, 100%, 63%);
$color-very-dark-cyan: hsl(192, 100%, 9%);
$color-very-pale-blue: hsl(207, 100%, 98%);


// GRADIENT
$color-gradient: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);

// FONT
$default-font-size: 1rem;
$default-font-stack: 'Open Sans', sans-serif;
$default-font-stack-heading: 'Poppins', sans-serif;
$default-font-weight: 400;
$default-font-weight-heading: 700;