.attribution {
    @include flex-column-align-center;
    align-items: flex-start;
    text-align: left;
    max-width: 21.5rem;

    @include respond(medium-screen) {
        flex: 1;
    }

    &__paragraph {
        margin-top: 1rem;
    }

    &__contact-details {
        margin-top: scaleSize(2.5rem, 1.5rem);
    }

    &__contact-detail {
        font-size: 14px;
        line-height: 24px;
        display: flex;

        & img {
            margin: auto 1.1875rem auto 0;
            width: 1.125rem;
            height: 1.125rem;
        }

        &--email {
            margin-top: 1rem;

            & img {
                width: 1.25rem;
                height: 1rem;
            }
        }
    }
}
