.btn {
    &,
    &:link,
    &:visited {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s;
    font-family: inherit;
    font-weight: $default-font-weight-heading;
    border-radius: 20px;
    cursor: pointer;
  }

  &:active {
    transform: scale(1.02);
  }

  &:focus,:focus-visible {
    outline-width: 3px;
    outline-style:  dashed;
    outline-offset: 5px;

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }
  
  &--primary {
    background-color: $color-pink;
    font-size: scaleSize(12px, 20px);
    line-height: scaleSize(18px, 30px);
    color: $color-white;
    padding: scaleSize(11px, 25px) scaleSize(40px, 100px);
    border: none;
    
    &:hover {
      background: $color-light-pink;
    }

    &:focus,:focus-visible {
      outline-color: $color-gradient;
    }
  }

  &--secondary {
    background: transparent;
    color: $color-pink;
    font-weight: $default-font-weight;
    font-size: scaleSize(10px, 13px);
    line-height: scaleSize(15px, 22px);
    padding: scaleSize(5px, 9px) scaleSize(18px, 30px);
    border: 1px solid $color-pink;

    &:hover {
      border-color: $color-light-pink;
      color: $color-light-pink;
    }

    &:focus,:focus-visible {
      outline-color: $color-gradient;
    }
  }
}