.form {
    @include flex-column-align-center;
    align-items: flex-start;

    @include respond(medium-screen) {
        width: scaleSize(320px, 344px, 768px, 1440px);
    }

    @include respond(big-screen) {
        width: 520px;
    }
    
    &__form-control {
        width: 100%;
        @include flex-column-align-center;
        margin-top: scaleSize(32px, 40px);
        position: relative;

        @include respond(medium-screen) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            // width: 100%;
        }
    }

    &__input {
        @include respond(medium-screen) {
            margin-right: 40px;
            margin-bottom: 16px;
        }
    }

    &__button {
        margin-top: 16px;
        align-self: flex-end;

        @include respond(medium-screen) {
            margin-top: 0px;
        }

        @include respond(medium-screen) {
            align-self: flex-start;
        }
    }
}