.image {
    &--hero {
        width: min(100%, 63.5rem);
    }

    &--story-1 {
        width: min(31.875rem, 100%);

        @include respond(medium-screen) {
            width: scaleSize(15.625rem, 31.875rem);
            order: 2;
        }
    }

    &--story-2 {
        width: min(33.125rem, 100%);

        @include respond(medium-screen) {
            width: scaleSize(16.5625rem, 33.125rem);
        }
    }

    &--story-3 {
        width: min(33.125rem, 100%);

        @include respond(medium-screen) {
            width: scaleSize(16.6875rem, 33.125rem);
            order: 2;
        }
    }
}
