.link {
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: left;
    transition: transform 0.2s;

    &:hover {
        filter: brightness(0) saturate(100%) invert(90%) sepia(16%) saturate(6311%) hue-rotate(282deg) brightness(102%) contrast(101%);
    }

    &:focus, :focus-visible {
        outline: none;
        & img {
            outline-width: 3px;
            outline-style:  dashed;
            outline-offset: 5px;
            outline-color: $color-light-pink; 
        }
    }

        &:focus:not(:focus-visible) {
            outline: none;
            & img {
                outline: none;
            }
            
          }

          & img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7423%) hue-rotate(135deg) brightness(112%) contrast(100%);
            width: scaleSize(1.4375rem, 2rem);
        }
      }