.social-media-panel {
    list-style-type: none;
    width: scaleSize(6.5rem, 9rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin: 0 auto;

    @include respond(medium-screen) {
        margin-right: 0;
      }

      &__link {
        display: block;

        & img {
          width: scaleSize(1.4375rem, 2rem);
        }
      }
}