.stats {
    list-style-type: none;
    @include flex-column-align-center;
    row-gap: 5.5rem;
    width: 100%;
    max-width: 55rem;

    @include respond(medium-screen) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        @include flex-column-align-center;
    }

    &__icon {
        align-self: flex-start;
        width: scaleSize(36px, 56px, 375px, 768px);
        margin-bottom: -10px;

        @include respond(medium-screen) {
            margin-bottom: -16px;

        }
    }
}