.stats {
    list-style-type: none;
    @include flex-column-align-center;
    row-gap: 5.5rem;
    width: 100%;
    max-width: 55rem;

    @include respond(medium-screen) {
        flex-direction: row;
        justify-content: center;
        column-gap: scaleSize(5.5rem, 21.25rem, 48rem, 90rem);
    }

    &__item {
        @include flex-column-align-center;
    }

    &__icon {
        align-self: flex-start;
        width: scaleSize(2.25rem, 3.5rem, 23.4375rem, 48rem);
        margin-bottom: -10px;

        @include respond(medium-screen) {
            margin-bottom: -1rem;
        }
    }
}
