.story {
    width: 100%;
    @include flex-column-align-center;
    position: relative;
    padding-left: scaleSize(2.25rem, 4.5rem, 23.4375rem, 48rem);
    padding-right: scaleSize(2.25rem, 4.5rem, 23.4375rem, 48rem);

    @include respond(medium-screen) {
        flex-direction: row;
        justify-content: space-between;
        padding-left: scaleSize(2.25rem, 7.5rem, 48rem, 90rem);
        padding-right: scaleSize(2.25rem, 7.5rem, 48rem, 90rem);
    }

    &--white {
        margin-top: min(51vw, 21.1875rem);
    }

    &--blue-1 {
        background-color: $color-very-pale-blue;
        padding-top: 5.25rem;
        padding-bottom: 3.3125rem;

        @include respond(medium-screen) {
            padding-top: 3.8125rem;
            padding-bottom: 2.5rem;
        }

        &:before {
            content: "";
            position: absolute;
            background-image: url("/images/bg-section-top-mobile-1.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: bottom left;
            left: 0;
            height: 30vw;
            width: 100%;
            top: -29vw;

            @include respond(medium-screen) {
                background-image: url("/images/bg-section-top-desktop-1.svg");
                height: 12vw;
                top: -11vw;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("/images/bg-section-bottom-mobile-1.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: top left;
            left: 0;
            height: 14vw;
            width: 100%;
            bottom: -13vw;

            @include respond(medium-screen) {
                background-image: url("/images/bg-section-bottom-desktop-1.svg");
                height: 10vw;
                bottom: -9vw;
            }
        }
    }

    &--blue-2 {
        margin-top: min(59vw, 17.25rem);
        background-color: $color-very-pale-blue;
        padding-top: 1rem;
        padding-bottom: 7.0625rem;

        @include respond(medium-screen) {
            padding-top: 2.125rem;
            padding-bottom: 2.0625rem;
        }

        &:before {
            content: "";
            position: absolute;
            background-image: url("/images/bg-section-top-mobile-2.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: bottom left;
            left: 0;
            height: 28vw;
            width: 100%;
            top: -27vw;

            @include respond(medium-screen) {
                background-image: url("/images/bg-section-top-desktop-2.svg");
                height: 11vw;
                top: -10vw;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("/images/bg-section-bottom-mobile-2.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: top left;
            left: 0;
            height: 27vw;
            width: 100%;
            bottom: -26vw;

            @include respond(medium-screen) {
                background-image: url("/images/bg-section-bottom-desktop-2.svg");
                height: 10vw;
                width: 100%;
                bottom: -9vw;
            }
        }
    }
}
