.textbox {
    @include flex-column-align-center;
    max-width: 45.625rem;

    &--hero {
        @include flex-column-align-center;
        
        & .paragraph {
            margin-top: scaleSize(24px, 26px);
            max-width: 37.5rem;
        }
    }

    &--stats {
        align-items: flex-start;
        & .heading {
            order: 2;
            align-self: center;
        }
    }

    &--stories {
        margin-top: 40px;

        @include respond(stats) {
            align-items: flex-start;
        }

        & .paragraph {
            margin-top: scaleSize(16px, 26px, 375px, 768px);
            max-width: 520px;

            @include respond(stats) {
                margin-top: scaleSize(16px, 26px, 375px, 768px);
                width: scaleSize(320px, 520px, 768px, 1440px);
            }
        }
    }
}