.textbox {
    @include flex-column-align-center;

    &--hero {
        @include flex-column-align-center;

        & .paragraph {
            margin-top: scaleSize(1.5rem, 1.625rem);
            max-width: 37.5rem;
        }
    }

    &--stats {
        align-items: flex-start;
        & .heading {
            order: 2;
            align-self: center;
        }
    }

    &--stories {
        margin-top: 2.5rem;

        @include respond(medium-screen) {
            margin-top: 0px;

            align-items: flex-start;
            text-align: left;
        }

        & .paragraph {
            margin-top: scaleSize(1rem, 1.625rem, 23.4375rem, 48rem);
            max-width: 32.5rem;

            @include respond(medium-screen) {
                margin-top: scaleSize(1rem, 1.625rem, 48rem, 90rem);
                width: scaleSize(20rem, 32.5rem, 48rem, 90rem);
            }
        }
    }

    &--form {
        align-items: flex-start;
        text-align: left;
        max-width: 21.5rem;

        & .paragraph {
            margin-top: 1rem;
        }
    }
}
