.main {
    width: 100%;
    
    & > * {
        width: 100%;
        @include flex-column-align-center;
    }

.hero { 
        padding: 0 scaleSize(36px, 72px, 375px, 768px);
    
        &__textbox {
            margin-top: scaleSize(112px, 225px);
        }

        &__btn {
            margin-top: 3rem;
        }

        &__image {
            margin-top: scaleSize(96px, 120px);
        }

        &__stats {
            margin-top: 7.5rem;
        }
    }

    
}


